<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/bfc3ef21f1.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>bookshop</title>
</head>
<body>
    <div class="container">
        <%- include('../partals/nav.ejs') %>
        <main>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span>
                    <span class="ord">ord</spand>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
        </main>
        <main>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span>
                    <span class="ord">ord</spand>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
        </main>
        <main>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span>
                    <span class="ord">ord</spand>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
        </main>
        <main>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span>
                    <span class="ord">ord</spand>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/icons8-love-potion-48.png" width="48px" height="48px"></span></span>
                    <span class="ord">Ord</span>
                </div>
            </div>
        </main>
        <%- include('../partals/footer.ejs') %>
        <div class="contants"></div>
    </div>
    <script src="./images/jquery.js"></script>
    <script>
    $(document).ready(function(){
        $("span").click(function (){
                $(this).children('img').attr('src','./images/icons8-love-potion.gif');
            });
            const contants = document.querySelector('.contants');
    const ord = document.querySelector('.ord');
let count = 0;
const toastFun = () => {
    count++;
    contants.innerHTML = '';
    const toastAlert = document.createElement('div');
    toastAlert.innerHTML = `You have been ordered.Thanks! <span>${count}</span>`;
    toastAlert.classList.add('toast');
    contants.append(toastAlert);
    toastAlert.style.bottom = `-${toastAlert.offsetHeight}px`;
    setTimeout(() => {
        toastAlert.style.bottom = `0px`;
    }, 100);
    setTimeout(() => {
        toastAlert.style.bottom = `-${toastAlert.offsetHeight}px`;
    }, 2000);
    }
            $('.ord').click(function () {
                toastFun();
                $(this).html('');
                $(this).wrapInner('<i class="fas fa-plus-circle" style="color:green;" title="order more?"></i>');
            });
        }); 
    </script>
</body>
</html>