<!DOCTYPE html>
<html lang="en">
    <%- include('../partals/head.ejs') %>
<body>
    <div class="container">
        <%- include('../partals/nav.ejs') %>
        <%- include('../partals/main.ejs') %>
        <%- include('../partals/footer.ejs') %>
        <div class="contants"></div>
    </div>
<!-- <script>
    const contants = document.querySelector('.contants');
    const ord = document.querySelector('.ord');
    let count = 0;
    const toastFun = () => {
        count++;
        contants.innerHTML = '';
        const toastAlert = document.createElement('div');
        toastAlert.innerHTML = `You have been ordered.Thanks! <span>${count}</span>`;
        toastAlert.classList.add('toast');
        contants.append(toastAlert);
        toastAlert.style.bottom = `-${toastAlert.offsetHeight}px`;
    setTimeout(() => {
        toastAlert.style.bottom = `0px`;
    }, 100);
    setTimeout(() => {
        toastAlert.style.bottom = `-${toastAlert.offsetHeight}px`;
    }, 2000);
}  -->
</script>
</body>
</html>