        <main>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span>
                   <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
        </main>
        <main>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span>
                     <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
        </main>
        <main>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span>
                     <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
        </main>
        <main>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span>
                     <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
            <div class="card">
                <img src="./images/book.jpeg" alt="book">
                <div class="reaction">
                    <span><img src="./images/heart.svg" width="20px" height="20px"></span>
                    <div class="ordandbadge">
                        <span class="ord">ord</span>
                        <input class="badge one" value="" readonly>
                    </div>  
                </div>
            </div>
        </main>