<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Price Lists <i class="fas fa-caret-down"></i></a>
            <ul>
                <li><a href="#">$50</a></li>
                <li><a href="#">$100</a></li>
                <li><a href="#">$150</a></li>
                <li><a href="#">$200</a></li>
                <li><a href="#">$300</a></li>
            </ul>
        </li>
        <li><a href="#">Caticatories <i class="fas fa-caret-down"></i></a>
            <ul>
                <li><a href="#">Thinking Books</a></li>
                <li><a href="#">Fictional Books</a></li>
                <li><a href="#">Humour Books</a></li>
                <li><a href="#">Horror Books</a></li>
                <li><a href="#">Professional Books</a></li>
            </ul>
        </li>
        <li><a href="#">NIGHtgALAXY</a></li>
        <li><a href="/feedback">Feedback</a></li>
        <li><img src="/images/book.jpeg" alt="logo-image"></li>
    </ul>
</nav>